div {
    width: 70px; height: 70px;
    display: inline-block;
    margin-right: 5px;
   }
   div:hover { background: #ff9f19; }
   .b { background: black; }
   .r { background: #009abf; }
   .item-list {
    height: 40px;
    border-bottom: 3px solid #CCCCCC;
    background:#F0F0F0;
}
.pager li {
    list-style-type: none;
    float: left;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.pager li a, .pager li span {
    text-decoration: none;
    color: #8B2B28;
    display: block;
    height: 43px;
    width: 30px;
}
li:hover {
    background: #CCCCCC;
    border-bottom: 3px solid #373737;
    color: #000000;
}
.pager li a:hover, .pager li span:hover {
    color: #000000;
}